
{% load static %}
<link rel="stylesheet"type="text/css" href="{% static '/CSSv/style.css' %}">
  
<div class="container">
    <div class="form-container">
        <div id="login-form" class="form active">
            {% if validlink %}
            <h2>New Password</h2>
            <form method="POST" action="" >
              {% csrf_token %}
                <div class="input-group">
                    <label >Password</label>
                    <input type="password"  name="password" >
                </div>
                <button type="submit">change</button>
            </form>
        </div>
        {% else %}
    
    Expire Link
    
    {% endif %}
      </div>
</div>
      