{% load static %}
<link rel="stylesheet"type="text/css" href="{% static '/CSSv/style.css' %}">
  
<div class="container">
    <div class="form-container">
        <div id="login-form" class="form active">
            <h2>Password Sent</h2>
            <form method="POST"  >
              <div class="input-group">
                <p>check your email inbox  </p>
              </div>
              <p>return<a href="{% url 'login'%}">Login?</a></p>
            </form>
        </div>
      </div>
</div>