{% load static %}
<link rel="stylesheet"type="text/css" href="{% static '/CSSv/style.css' %}">
  
<div class="container">
    <div class="form-container">
        <div id="login-form" class="form active">
            <h2>Password Reset</h2>
            <form method="POST"  >
              <div class="input-group">
                {% csrf_token %}
                <label >Email</label>
                <input type="email"  name="email" >
              </div>
                <button type="submit">Submit</button>
            </form>
        </div>
      </div>
</div>